*{
    margin:0;
    /* background-color: #e2e2d6; */
    /* width: 345px; */
    /* margin-left: 0px; */
}
/*header*/
/*section-1*/
.navbar{
    background-color: #1e1e4c;
    border-bottom: 4px solid whitesmoke;
    height:45px;
    display:flex;
    justify-content: space-between;   
}
.name{
    color:whitesmoke;
    margin-top:13px;
    margin-left:105px;
    font-size:17px;
    font-family: 'Poppins';
    background-color: #1e1e4c;
}
.information{
    display: flex;
    justify-content: end;
    gap:22px;
    color:#fffd74;
    margin-top:13px;
    margin-right:55px;
    font-size:17px;
    background-color:#1e1e4c;
}
.information a{
    background-color: #1e1e4c;
    color:#fffd74;
    
}
.information a:hover{
    text-decoration: underline;
}
/*.sneha{
    margin-top: 80px;
    margin-left: 400px;
    font-size: 17px;
     color:rgb(6, 47, 94);
}
.sneha p{
    margin-top:3px;
    font-size: 20px;
     color:rgb(6, 61, 122);
    
}*/
/* image */
/*section-2*/
/*.me{
    margin-left: 100px;
    margin-top: 28px;
    width: 220px;
}
.me img{
    border-radius:100px;
    border: 1px solid #fffd74;
    height:60px;
    width:60px;
    zoom: 3.5;
}*/
/*.internship{
    margin-top: 40px;
    
}
.internship button{
    margin-top:2px;
    font-size: 13px;
     color:rgb(33, 212, 87);
     background-color: rgb(40, 100, 65);
     border-radius: 10px;
     border: 1.8px solid rgb(30, 175, 43);
}
.internship i{
    margin-top:2px;
    font-size: 6px;
    text-align: center;
     color:rgb(33, 212, 87);
     background-color: rgb(40, 100, 65);
}*/
/*.sneha{
    margin-top: 80px;
    margin-left: 400px;
    
    
}
.sneha b{
    margin-top:3px;
    font-size: 27px;
     color:rgb(237, 240, 243);
    
}
.sneha h6{
    margin-top:3px;
    font-size: 25px;
     color:rgb(8, 48, 88);
     
    
}
.sneha p{
    margin-top:3px;
    font-size: 15px;
     color:rgb(12, 64, 116);
    
}*/
/*section-3*/
.resume-data{
    display:flex;
    background-color: #e2e2d6;
    height: 594px;
    /* justify-content: center; */
    gap: 59px;
}
.data{
    /* background-color: #e2e2d6; */
    /* display: flex; */
    margin-left: 57px;
    margin-top: 30px;
    width: 365px;
}
.me{
    /* margin-left: 100px; */
    margin-top: 40px;
    width: 220px;
}
.me img{
    border-radius:100px;
    border: 1px solid #e2e2d6;
    height:60px;
    width:60px;
    zoom: 3.5;
}    
/*.internship{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.internship button{
    font-size: 13px;
     color:rgb(33, 212, 87);
     background-color: rgb(40, 100, 65);
     border-radius: 10px;
     border: 1.8px solid rgb(30, 175, 43);
}
.internship i{
    font-size: 6px;
    text-align: center;
     color:rgb(33, 212, 87);
     background-color: rgb(40, 100, 65);
     
}*/
.details{
    margin-left: 16px;
    margin-top: 22px;
}
.details b{
    margin-top:3px;
    font-size: 27px;
    color:rgb(11, 2, 43);
    
}
.details h6{
    margin-top:6px;
    font-size: 21px;
    color:rgb(11, 2, 43);
     
    
}
.details p{
    margin-top:5px;
    font-size: 14px;
    color:rgb(6, 38, 85);
    
}
/*.learning{
    margin-top: 7px;
    margin-left: 150px;
    display: flex;
    justify-content: center;
    gap:5px; 
}
.learning button{
    font-size: 13px;
    margin-top:5px;
    border-radius: 10px;
    border: 1.8px solid rgb(19, 131, 28);
    color:rgb(19, 131, 28);
    background-color: aliceblue;
    font-weight: bold;
}
.learning i{
    font-size: 8px;
    text-align: center;
     color:rgb(33, 212, 87);
      background-color: aliceblue;
      font-weight: bold;

}*/
/*.project button{
    color:rgb(185, 85, 18);
    border:1px solid rgb(185, 85, 18);
     background-color: aliceblue;
     font-weight: bold;


}
.project i{
    font-size: 10px;
    color:rgb(243, 78, 13);
     background-color: aliceblue;
     font-weight: bold;

}
.pending button{
    color:rgb(12, 162, 248);
    border:1px solid rgb(12, 162, 248);
     background-color: aliceblue;
     font-weight: bold;

}*/
.view{
    margin-top: 21px;
    margin-left: 20px;
    display: flex;
    gap:5px;
}
.view button{
    height: 41px;
    width: 110px;
    color:rgb(10, 145, 223);
    border:1px solid rgb(10, 145, 223);
    background-color: rgb(11, 50, 95);
    border-radius: 10px;
}
.view i{
    font-size: 10px;
    color:rgb(10, 145, 223);
    background-color: rgb(11, 50, 95);
}
/*section-3*/
.box1{
    background-color:#1e1e4c;
    float:right;
    margin-right: -7px;
    width: 370px;
    border:2px solid #1e1e4c;
    padding-right: 21px;
    /* padding-left: 20px; */
    border-radius: 10px;
    margin-top: 34px;
    height: 483px;
}
.langauge{
    margin-top: 20px;
    margin-left:20px;
}
.langauge p i{
    font-size: 8px;
    background-color: #1e1e4c;
}
.langauge p{
    font-size: 18px;
    color: #fffd74;
    background-color: #1e1e4c;
}
.completed{
    background-color: #1e1e4c;
    /* margin-bottom: -2px; */
}
.completed button{
    margin-top: 11px;
    font-size: 13px;
    margin-left: 23px;
    color:rgb(33, 212, 87);
    background-color: rgb(40, 100, 65);
    border-radius: 10px;
    border: 1.8px solid rgb(30, 175, 43);
}
.completed i{
    font-size: 10px;
    text-align: center;
    color:rgb(33, 212, 87);
    background-color: rgb(40, 100, 65);
}
.completed p{
    font-size: 17px;
    margin-top: 12px;
    margin-left: 29px;
    color:rgb(243, 243, 245);
}
.in-progress{
    /* margin-top: 0px; */
    background-color: #1e1e4c;
}
.in-progress button{
    margin-top: 8px;
    font-size: 12px;
    margin-left: 22px;
    color:rgb(10, 145, 223);
    border:1px solid rgb(10, 145, 223);
    background-color: rgb(11, 50, 95);
    border-radius: 10px;
    margin-bottom: 17px;
}
.in-progress i{
    font-size: 10px;
    text-align: center;
    color:rgb(10, 145, 223);
     background-color: rgb(11, 50, 95);
}
.in-progress p{
    font-size: 17px;
    margin-top: 10px;
    margin-left: 31px;
    color:rgb(243, 243, 245);
    margin-bottom: 13px;
}
.box2{
     background-color:#1e1e4c;
     float:right;
     margin-right: 55px;
     width: 400px;
     height: 235px;
     border:2px solid #1e1e4c;
     padding-right: 24px;
     padding-left: 6px;
     border-radius: 10px;
     margin-top: 38px;
     /* gap: 4px; */
}
.Technical{
     margin-top: 18px;
     margin-left: 19px;
}
.Technical p{
    font-size: 18px;
    color: #fffd74;
    background-color: #1e1e4c;
}
.skills{
    margin-top: 7px;
    background-color: #1e1e4c;
}
.skills b{
    /* margin-top: 99px; */
    color:whitesmoke;
    background-color: #1e1e4c;
    font-size: 16px;
    margin-left: 20px;
}
.code {
    background-color: #1e1e4c;
}
.code button{
    margin-top: 11px;
    font-size: 11px;
    margin-left: 35px;
    color:rgb(33, 212, 87);
    background-color: rgb(40, 100, 65);
    border-radius: 10px;
    border: 1.8px solid rgb(30, 175, 43);
}
.tools{
     margin-top: 8px;
     background-color: #1e1e4c;
}
.tools b{
    /* margin-top: 8px; */
    color:whitesmoke;
    background-color: #1e1e4c;
    font-size: 12px;
    margin-left:20px;
}
.terminal{
    background-color: #1e1e4c;
}
.terminal button{
    margin-top: 11px;
    font-size: 11px;
    margin-left: 35px;
    color:rgb(33, 212, 87);
    background-color: rgb(40, 100, 65);
    border-radius: 10px;
    border: 1.8px solid rgb(30, 175, 43);
}
.running{
    margin-top: 8px;
    background-color: #1e1e4c;
}
.running b{
     color:whitesmoke;
    background-color: #1e1e4c;
    font-size: 12px;
    margin-left:20px;
}
.styling{
    background-color: #1e1e4c;
}
.styling button{
    margin-top: 11px;
    font-size: 11px;
    margin-left: 35px;
    color:rgb(10, 145, 223);
    border:1px solid rgb(10, 145, 223);
    background-color: rgb(11, 50, 95);
    border-radius: 10px;
    margin-bottom: 15px;
}
.miscellaneous{
    background-color: #e4e370;
}
.foot{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #1e1e4c;
    margin-top: 547px;
    height: 52px;
}
.foot p{
    font-size: 14px;
    color:#fffd74;
    background-color:#1e1e4c;
}
.foot i{
     color:#fffd74;
    background-color:#1e1e4c;
}
/*Project.html*/
/*Section-1*/
.project{
    background-color: #244855;
    /* border-bottom: 4px solid #90AEAD; */
    height: 38px;
    display:flex;
    justify-content: space-between;
}
.nav{
    margin-top: 8px;
    margin-left: 32px;
    background-color: #244855;
}
.nav a{
    color: #FBE9D0;
    /* margin-top: 121px; */
    font-size: 20px;
    font-family:'Times New Roman';
    background-color: #244855;
}
.link{
    display:flex;
    justify-content: end;
    gap:22px;
    color: #90aead;
    margin-top: 11.6px;
    margin-right:55px;
    font-size: 18px;
    background-color: 90AEAD;
}
.link a{
    color: #e64833;
}
.project-box{
    /* border: 3px solid #90aead; */
    radius:10px;
}
.container1{
    /* margin-top: 6px; */
    background-color:#874f41;
    height: 173px;
    padding-top: 14px;
    /* padding-bottom: 45px; */
    /* border-bottom:20px solid #874f41; */
}
.container1 a{
    /* margin-top: 130px; */
    margin-left: 30px;
    color: #fbe9d0;
}
.container1 p{
    margin-top:1.3px;
    margin-left:30px;
    color:#fbe9d0;
}
.adder p{
    margin-top:6px;
    color:#90aead;
}
.container2{
    /* margin-top: 6px; */
    background-color:#874f41;
    height: 173px;
    padding-top: 4px;
}
.container2 a{
    /* margin-top: 130px; */
    margin-left: 30px;
    color:#fbe9d0;
}
.container2 p{
    margin-top:1.3px;
    margin-left:30px;
    color:#fbe9do;
}
.amazon p{
    margin-top:6px;
    color:#90aead;
}
.container3{
    /* margin-top: 6px; */
    background-color:#874f41;
    height: 180px;
    padding-top: 4px;
}
.container3 a{
    /* margin-top: 130px; */
    margin-left: 30px;
    color:#fbe9d0;
}
.container3 p{
    margin-top:1.3px;
    margin-left:30px;
    color:#fbe9d0;
}
.portfolio p{
    margin-top:6px;
    color:#90aead;
}
.bottom{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top: 11px;
    height: 36px;
    background-color: #244855;
}
.bottom p{
     color:#90aead;
     /* background-color:#874f41; */
}
.bottom i{
    color:#90aead;
    background-color:#874f41;
}
   

/*Education.html*/
/*Section-1*/
.education{
    background-color: #244855;
    height: 38px;
    display:flex;
    justify-content: space-between;
}
.homebar{
    margin-top: 9px;
    margin-left: 89px;
    background-color: #244855;
}
.homebar a{
    color: #adbbda;
    /* margin-top: 121px; */
    font-size: 20px;
    font-family:'Times New Roman';
    background-color: #244855;
}
.web-pages{
     display:flex;
     justify-content: end;
     gap:22px;
     /* color:#1e1e4c; */
     margin-top:11.6px;
     margin-right:55px;
     font-size: 18px;
     background-color: #244855;
}
.web-pages a{
    background-color: #244855;
    color: #e64833;
}
.image{
    float:right;
    /* width: 220px; */
}
.image img{
    border: 1px solid rgb(11, 50, 95);
    height:160px;
    width: 220px;
    zoom: 3.5;
}
.education-box{
    margin-top:10px;
    background-color:#90aead;
    border:4px solid #90aead;
    border-radius: 8px;
    margin-left: 20px;
    margin-right: 842px;
}
.academic{
    background-color:#90aead;
}
.academic h6{
    color: #ede8f5;
    font-size: 19px;
    padding-top:5px;
    background-color:#90aead;
    margin-left:35px;
}
.academic p{
    padding-top:5px;
    background-color:#90aead;
    color: rgb(6, 47, 94);
    margin-left:35px;
    font-size: 16px;
}
.graduation{
     padding-top:5px;
     background-color:#90aead;
     padding-bottom:5px;
     color: #0d0d35;
}
.graduation h6{
    font-size:14px;
    margin-left:35px;
    padding-top:5px;
     background-color:#90aead;
}
.graduation p{
    margin-left:35px;
    font-size: 13px;
}
.classxii{
    padding-top:5px;
     background-color:#90aead;
     padding-bottom:5px;
     color: #0d0d35;
}
.classxii h6{
     font-size:14px;
    margin-left:35px;
    padding-top:5px;
     background-color:#90aead;
}
.classxii p{
    margin-left:35px;
    font-size:13px;
}
.classx{
    padding-top:5px;
    background-color:#90aead;
    padding-bottom:5px;
    color: #0d0d35;
}
.classx h6{
     font-size:14px;
    margin-left:35px;
    padding-top:5px;
     background-color:#90aead;
}
.classx p{
    margin-left:35px;
    font-size:13px;
}
.subjects{
      padding-top: 9px;
      background-color:#90aead;
}
.subjects h6{
    font-size:14px;
     margin-left:35px;
     padding-top:5px;
     background-color:#90aead;
      color: rgb(11, 2, 43); 
}
.subjects p{
    margin-left:35px;
    background-color:#90aead;
    color: rgb(11, 2, 43);
    font-size: 13px;
}
.internship{
      padding-top: 14px;
      background-color:#90aead;
      padding-bottom:5px;
}
.internship h6{
     font-size:14px;
     margin-left:35px;
     padding-top:5px;
     background-color:#90aead;
     color: rgb(11, 2, 43);
}
.internship p{
    margin-left:35px;
    background-color:#90aead;
    color: rgb(11, 2, 43);
    font-size: 13px;
}
/*Contact.html*/
/*Section-1*/
.contact{
     background-color: #244855;
     border-bottom: 4px solid #90aead;
     height: 43px;
     display:flex;
     justify-content: space-between;
}
.home{
     margin-top: 9px;
     margin-left: 89px;
     background-color: #244855;
}
.home a{
     color: #fbe9d0;
     /* margin-top: 121px; */
     font-size: 20px;
     font-family:'Times New Roman';
     background-color: #244855;
}
.option{
      display:flex;
      justify-content: end;
      gap:22px;
      /* color: #e64833; */
      margin-top:11.6px;
      margin-right:55px;
      font-size: 18px;
      /* background-color: #244855; */
}
.option a{
     background-color: #244855;
     color: #e64833;
}
