*{
    margin:0;
    background-color: rgb(209, 159, 97);
}
.navbar{
    background-color: rgb(73, 22, 6);
    border-bottom: 2px solid whitesmoke;
    height:45px;
    display:flex;
    justify-content: space-between;   
}
.name{
    color:whitesmoke;
    margin-top:13px;
    margin-left:105px;
    font-size:17px;
    font-family:'Times New Roman';
    background-color: rgb(73, 22, 6);
}
.name:hover{
    color:rgb(243, 102, 51);
}
.information{
    display: flex;
    justify-content: end;
    gap:22px;
    color:rgb(143, 77, 23);
    margin-top:13px;
    margin-right:55px;
    font-size:17px;
    background-color:rgb(73, 22, 6);
}
.information p{
    background-color: rgb(73, 22, 6);
    
}
.information p:hover{
    text-decoration: underline;
}
/*.sneha{
    margin-top: 80px;
    margin-left: 400px;
    font-size: 17px;
     color:rgb(6, 47, 94);
}
.sneha p{
    margin-top:3px;
    font-size: 20px;
     color:rgb(6, 61, 122);
    
}*/
.me{
    float: right;
    margin-right: 100px;
    margin-top: 80px;
}
.me img{
    border-radius:100px;
    border: 1px solid rgb(209, 159, 97);
    height:60px;
    width:60px;
    zoom: 3.5;
}
/*.internship{
    margin-top: 40px;
    
}
.internship button{
    margin-top:2px;
    font-size: 13px;
     color:rgb(33, 212, 87);
     background-color: rgb(40, 100, 65);
     border-radius: 10px;
     border: 1.8px solid rgb(30, 175, 43);
}
.internship i{
    margin-top:2px;
    font-size: 6px;
    text-align: center;
     color:rgb(33, 212, 87);
     background-color: rgb(40, 100, 65);
}*/
/*.sneha{
    margin-top: 80px;
    margin-left: 400px;
    
    
}
.sneha b{
    margin-top:3px;
    font-size: 27px;
     color:rgb(237, 240, 243);
    
}
.sneha h6{
    margin-top:3px;
    font-size: 25px;
     color:rgb(8, 48, 88);
     
    
}
.sneha p{
    margin-top:3px;
    font-size: 15px;
     color:rgb(12, 64, 116);
    
}*/
.data{
    margin-left: 40px;
    margin-top: 90px;

}
.internship{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.internship button{
    font-size: 13px;
     color:rgb(33, 212, 87);
     background-color: rgb(40, 100, 65);
     border-radius: 10px;
     border: 1.8px solid rgb(30, 175, 43);
}
.internship i{
    font-size: 6px;
    text-align: center;
     color:rgb(33, 212, 87);
     background-color: rgb(40, 100, 65);
     
}
.sneha{
    margin-top: 30px;
    margin-left: 430px;
    
    
}
.sneha b{
    margin-top:3px;
    font-size: 27px;
     color:rgb(237, 240, 243);
    
}
.sneha h6{
    margin-top:3px;
    font-size: 25px;
     color:rgb(8, 48, 88);
     
    
}
.sneha p{
    margin-top:3px;
    font-size: 15px;
     color:rgb(12, 64, 116);
    
}
.learning{
    margin-top: 7px;
    margin-left: 150px;
    display: flex;
    justify-content: center;
    gap:5px; 
}
.learning button{
    font-size: 13px;
    margin-top:5px;
    border-radius: 10px;
    border: 1.8px solid rgb(30, 175, 43);
    background-color: rgb(40, 100, 65);
    color:rgb(33, 212, 87);
}
.learning i{
    font-size: 8px;
    text-align: center;
     color:rgb(33, 212, 87);
     background-color: rgb(40, 100, 65);
}
.project button{
    color:rgb(243, 78, 13);
    border:1px solid rgb(243, 78, 13);
    background-color: rgb(145, 45, 6);

}
.project i{
    font-size: 10px;
    color:rgb(243, 78, 13);
    background-color: rgb(145, 45, 6);
}
.pending button{
    color:rgb(12, 162, 248);
    border:1px solid rgb(12, 162, 248);
    background-color: rgb(24, 77, 138);
}
.view button{
    color:rgb(2, 93, 146);
    border:1px solid rgb(2, 93, 146);
    background-color: rgb(88, 163, 248);
    border-radius: 10px;
}
.view i{
    font-size: 10px;
    color:rgb(2, 93, 146);
    background-color: rgb(88, 163, 248);
}
